body {
    background-color: white;
}

#main {
    width: 200px;
    height: 200px;
    margin:50px;
    overflow:hidden;
    position:relative;
    background: linear-gradient(110deg, lightyellow, rgb(142, 208, 232));
    border:5px solid black;
}

#sun {
    background-color: rgb(255, 255, 60);
    width:50px;
    height:50px;
    border-radius:50px;
    position:absolute;
    top:-5px;
    left:-10px;
}

.arcs {
    width:100%;
    margin-top:50px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.arc {
  width: 68px;
  height: 140px;
  border: 7px solid rgb(158, 158, 158);
  border-radius: 50px 50px 0 0; 
  border-bottom: none;          
}


.boat {
    background-image: repeating-linear-gradient(
        #813a00 0px,
        #813a00 7px, 
        #A34A00 7px,
        #A34A00 16px);
    width:136px; height:65px;
    overflow-y:visible;
    position:absolute;
    bottom:0px; 
    left: 37px;
    margin-bottom:0;
    clip-path: polygon(0% 0%, 0% 10%,50% 100%, 100% 10%,100% 0%);
}

.windows {
    width: 136px; height:20px;
    /*background-color: rgb(0, 0, 0, 0.5);*/
    position:absolute;
    top:5px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap:8px;
}
.window {
    width:10px; height: 10px;
    background-color: rgba(255, 255, 255, 0.775);
    clip-path: polygon(0% 20%, 0% 80%,20% 100%, 80% 100%,100% 80%, 100% 20%, 80% 0%, 20% 0%);
}

#machta {
    background-color: #813a00;
    width:8px; height:90px;
    position:absolute;
    bottom:65px; left:88px;
    clip-path: polygon(0% 100%, 20% 0%, 80% 0%, 100% 100%);
}
#parus {
    background-image: linear-gradient(90deg, red, rgb(255, 222, 222));
    width:75px; height:80px;
    position:absolute;
    bottom:70px; left:92px;
    clip-path: polygon(0% 0%, 100% 90%, 0% 100%);
}

#flag {
    background-color: black;
    width:40px; height: 20px;
    position:absolute;
    top:35px; left:88px;
    /*border-bottom-left-radius: 70% 20%;
    border-bottom-right-radius: 100% 30%;*/
    clip-path: polygon(0% 10%, 35% 15%, 70% 15%, 100% 0%, 100% 70%, 70% 100%, 40% 100%, 0% 80%);
    border-radius: 16%;
}
.rounds {
    /*background-color: white;*/
    width:17px; height:20x;
    position:absolute;
    top:4px; left:9.5px;
    display:flex;
    justify-content: space-between; 
    align-items:baseline;
    flex-wrap: wrap;
    gap:3px;
}
.round {
    width:6px; height: 6px;
    border-radius: 50%;
    background-color: white;
}
#krest {
    width:15px; height:15px;
    position: absolute;
    top:4px; left:10px;
    background-color: white;
    clip-path: polygon(15% 0%, 0% 15%, 35% 50%, 0% 85%, 15% 100%, 50% 65%, 85% 100%, 100% 85%, 65% 50%, 100% 15%, 85% 0%, 50% 35%);
}

#wave1 {
    width:70px; height:70px;
    position:absolute;
    bottom:-25px; left:-12px;
    border-radius: 50%;
    background-image: linear-gradient(150deg, #b9eaff,#0772A1);
}

#wave2 {
    background-color: #96CDE4;
    width:70px; height:70px;
    position:absolute;
    bottom:-17px; left:40px;
    border-radius: 50%;
    background-image: linear-gradient(150deg, #b9eaff,#0772A1);
}

#wave3 {
    background-color: #96CDE4;
    width:70px; height:70px;
    position:absolute;
    bottom:-30px; left:90px;
    border-radius: 50%;
    background-image: linear-gradient(150deg, #b9eaff,#0772A1);
}
#wave4 {
    background-color: #96CDE4;
    width:70px; height:70px;
    position:absolute;
    bottom:-15px; left:144px;
    border-radius: 50%;
    background-image: linear-gradient(150deg, #b9eaff,#0772A1);
}
