body {
    background-color: white;
}
#back {
    width:200px;
    height:200px;
    font-size:14px;
    /*container-type:inline-size;*/
    border:1em solid gray;
    margin:50px;
    background-image: linear-gradient(rgb(108, 189, 255), rgb(255, 255, 129));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}


#around_car {
    position:relative;
    width:auto;
    height: 55%;
    aspect-ratio: 14/9;
   /* background-color: gray;*/
}

#text1 {
    display:none;
    position:absolute;
    top:0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 50, 255);
   /* background-color: purple;*/
}

#car {
    width:100%;
    position: relative;
    z-index:100;
    /*background-color: rgb(202, 202, 202);*/
}

.wheels {
    width:97%; /*97*/
    height: 45%;
    position: absolute;
    margin-top: -31%;
    margin-left:5.2%;
    display: flex;
    justify-content:space-around;
    z-index:150;
    cursor: pointer;
    /*background-color: purple;*/
    pointer-events: none; /* Включить события мыши */
}


#wheel_1, #wheel_2 {
    position: relative;
    width: 30%;      
    height: 100%;   
    object-fit: cover;     
    flex-shrink: 0;     /* Запрет сжатия */
    border-radius: 50%;
    z-index:50;
    pointer-events: auto; /* Включить события мыши */
    /*background-color: black;*/
}

#belka_1 {
    display: none;
    height: 32%;
    position: absolute;
    z-index:200;
    margin-top:9.5%;
    margin-left:32%;
    /*background-color: aquamarine;*/
}


#back:hover #belka_1, #back:hover #text1 {
    display:block !important;
    /*background-color: aquamarine;*/
}

#back:hover #car {
    animation: shake 0.25s linear infinite;
}
@keyframes shake {
    0%, 100% { transform: translateY(0); }
    25% { transform: translateY(-0.5px); }
    75% { transform: translateY(0.5px); }
}

.wheels:hover #wheel_1,
.wheels:hover #wheel_2  {
    animation: circling 5s linear infinite;
}
@keyframes circling {
  from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}